<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <title><%= @title %></title>
</head>
<body>
<h1><%= @title %></h1>
<p><%= @body %></p>
</body>
</html>